.headerContainer {
  position: relative;
  top: 0;
  left: 0;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoTitle p {
  font-family: "Epilogue";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #020be9;
}

.navItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.navLink {
  font-family: "Epilogue";
  font-style: normal;
  line-height: 14px;

  color: #020000;
  cursor: pointer;
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  margin-left: 40px;
}
.navBtn {
  display: block;
  /* width: 100%; */
}
.navBtn button {
  font-family: "Epilogue";
  font-style: normal;
  cursor: pointer;
  padding: 14px 23px;
  border: none;
  font-weight: 600;
  color: #ffffff;
  width: 274px;
  background: linear-gradient(90deg, #020be9 0%, #454cef 100%);
  mix-blend-mode: normal;
  border-radius: 38px;
}
